fastapi           
fastapi-cli       
httpcore         
httptools         
httpx            
Jinja2                   
numpy          
pandas           
pip            
scikit-learn    
scipy         
uvicorn 
pyarrow
fastparquet
sklearn.feature_extraction.text
sklearn.metrics.pairwise